$primary-color: #fff;
$secondary-color: #111;
$color-pink: #ff105e;

body {
  background-image: radial-gradient(circle at 14.7% 66.46%, #9e6722 0, #9d5d25 8.33%, #975227 16.67%, #8d4628 25%, #803a27 33.33%, #6e2c24 41.67%, #591f1f 50%, #441319 58.33%, #320912 66.67%, #260008 75%, #1c0000 83.33%, #100000 91.67%, #020000 100%);
  display: grid;
  font-family: 'Nunito', sans-serif;
  height: 100vh;
  margin: 0;
  place-items: center;
}